@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

body {
  background: #282828;
  font-family: 'Orbitron', sans-serif;
  color: #fabd2f;
  font-size: 8vw;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.1em;
}

.wrapper {
  box-sizing: border-box;
  vertical-align: middle;
}

#app {
  position: relative;
  margin-top: 10vh;
  margin-left: 10vw;
  background: #3c3836;
  width: 80vw;
  height: 80vh;
}

.top {
  position: absolute;
  margin-top: -3vh;
  margin-left: -3vw;
}

.bottom {
  color: #458588;
  position: absolute;
  bottom: -5vh;
  right: -3vw;
}

.blink {
  -webkit-animation: blink 1.2s infinite alternate;
  -moz-animation: blink 1.2s infinite alternate;
  animation: blink 1.2s infinite alternate;
}

@-webkit-keyframes blink {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes blink {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes blink {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
